*{
  margin: 0;
  padding: 0;
}

:root{
  --main-color: #232323;
  --text-link-color: #9d9d9d;;
  --main-font-size: 1rem;
  --main-fontFamily: ABCFavorit,
    Arial,
    Helvetica,
    sans-serif;
}

body{
  scroll-behavior: smooth;
  box-sizing: border-box;

}

.Nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: var(--main-fontFamily);
}

.Search_container{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid;
  border-radius: 6px;
  line-height: 19.88px;
  width:30rem;
  padding: 0;
}

.Search_container>span{
  display: block;
  font-size: 1.2rem;
  margin: auto .5rem;
}
.Search_input{
  border: none;
  width: 28rem;

}

.sections{
  display: flex;
    justify-content: space-around;
    padding: 1rem;
   
    font-family: var(--main-fontFamily);
    background-color: var(--main-color);
    cursor: pointer;
}

.lightBtn,.darkBtn{
  border-radius: 7px;
  border: 1px solid;
  padding:.7rem 1rem;
  margin-right: .5rem;
  background-color: #fff;
  font-size: var(--main-font-size);
  font-family: var(--main-fontFamily);
  font-weight: 550;
  cursor: pointer;
}

.darkBtn{
  background-color: var(--main-color);
  color: azure;
}


.links{
  text-decoration: none;
  color: var(--text-link-color);
  font-family: var(--main-font-size);
  font-weight: 600;
}